* {
    margin: 0;
    padding: 0;
}

.img-hover:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.menu-hover {
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.7s ease-out;
}
.menu-hover:hover {
    border-color: aquamarine;
    border-radius: 10px;
    transform: scale(1.1);
}
.bg-gray {
    background: var(--bs-gray-800);
    animation: gray-pulse 2.5s infinite alternate ease-in-out;
}

@keyframes gray-pulse {
    0% {
        background-color: var(--bs-gray-800);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: var(--bs-gray-700);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }
}

:root {
    --button-size: 45px;
    --icon-size: 25px;
}

@media (min-width: 576px) {
    :root {
        --button-size: 55px;
        --icon-size: 30px;
    }
}

@media (min-width: 992px) {
    :root {
        --button-size: 65px;
        --icon-size: 35px;
    }
}